body {
  background-color: #182b4c;

  margin: 0;
  /*100vh height occupies full page height*/
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

label {
  color: white;
}

button {
  /*
  block converts the button into an independent 
  "box" allowing it to occupy a full line
  */
  display: block;
  margin: 0 auto;
}

h1,
h2 {
  text-align: center;
  color: white;
}

li {
  color: white;
}
