<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Personal API</title>
    <link rel="stylesheet" href="/static/styles.css" />
  </head>
  <body>
    <main>
      <h1>Welcome</h1>
      <h2>Create a task</h2>

      <!--
    <form> represents a document section that contains
    a fields group that user completes to submit/send info
    -->
      <form id="task-form">
        <div class="field-group">
          <!--
        'for' and 'id' being the same allows the user to click on the label
        -->
          <label for="name">Name</label>
          <input type="text" id="name" name="task_name" />
        </div>

        <div class="field-group">
          <label for="description">Description</label>
          <input type="text" id="description" name="task_description" />
        </div>

        <div class="field-group">
          <label for="completed">Completed</label>
          <input type="checkbox" id="completed" name="task_status" />
        </div>

        <button id="create-task" type="submit">Create</button>

        <dialog id="message-dialog">
          <h3>Message</h3>
          <p id="message-text"></p>
          <button id="bttn-close" type="button">Close</button>
        </dialog>
      </form>

      <section id="tasks-view-section">
        <h2>My Tasks</h2>
        <ul id="tasks-list"></ul>
      </section>

      <script src="/static/app.js"></script>
    </main>
  </body>
</html>
